<div class="pass-side">
    <div class="wrap-dialog-pass">
        <h1 mat-dialog-title>Edit password</h1>
        <div class="pass-befor">
            <div class="beforepass">
                <label for="">Password</label>
                <input type="text" [(ngModel)]="passbefore">
            </div>
            <div class="afterpass">

                <label class="required" for="">Password
                    <p [class.active]="IsActivePassword && test">*Required Password</p>
                </label>
                <input type="password" [(ngModel)]="passafter">
            </div>
            <div class="conpass">

                <label class="required" for="">Confirm Password
                    <p [class.active]="IsActiveConfirmPass && test">*Required Confirm Password</p>
                </label>
                <input type="password" [(ngModel)]="passconfirm">
            </div>
        </div>
        <div class="pass-after">
        </div>

        <div class="wrap-btnn-dialog-del">
            <mat-dialog-actions class="bbtnn" align="end">
                <button class="btnn-del1" mat-button mat-dialog-close> Cancle</button>
                <button class="btnn-del2" (click)="onClick()"> Save</button>
            </mat-dialog-actions>
        </div>

    </div>

    <div class="animesuccess">

        <div class="spinner-animate-to-result">

            <!-- <div class="spinner" id="js-spinner"></div> -->
            <svg viewBox="0 0 50 50">
                <path class="success-tick" id="js-success-tick"
                    d="M13.2,19.31l10,11.14c.29.32.79.32,1.22-.16L46.26,5.48" />
                <path class="success-ring" id="js-success-ring"
                    d="M37.13,5a23,23,0,1,0,10,16.08h0A23.22,23.22,0,0,0,46,16.5" />
            </svg>
        </div>

        <!-- <div class="spinner-animate-to-result">
            <svg viewBox="0, 0, 100, 100">
                <g transform="">
                    <circle class="spinner" id="js-spinner" stroke-miterlimit="10" cx="50" cy="50" r="44" />
                    <polyline class="tick" id="js-success-tick" stroke-miterlimit="10" points="93,15 49,65 28,42" />
                    <svg viewBox="0 0 50 50">
                        <path class="success-ring" id="js-success-ring"
                            d="M37.06,4.74A23.6,23.6,0,0,0,6.63,8.93a23.32,23.32,0,0,0-.91,29.25,23.34,23.34,0,0,0,29.86,6.06A23.46,23.46,0,0,0,46.1,16.36" />
                    </svg>
                </g>
            </svg>
        </div> -->
    </div>
</div>