<div class="dropdown-side">
    <div class="dropcategory">
      <label for="Category"> {{header}} <br></label>
      <select class="la1" id="Category" name="Category">
        <option class="op1" value="FPS">FPS</option>
        <option class="op1" value="MOBA">MOBA</option>
        <option class="op1" value="MMORPG">MMORPG</option>
        <option class="op1" value="TRS">TRS</option>
        <option class="op1" value="Puzzle">Puzzle</option>
        <option class="op1" value="Adventure">Adventure</option>
      </select>
    </div>
</div>