<div class="page-side-p-catagory">
  <div class="manage-category-page">
    <div class="wrap-menu-managetag">
      <label>
        <h4>
          Name Category:
        </h4>
        <input [(ngModel)]="NameCatergory" type="text">
      </label>

      <div class="wrap-select-category">
        <div class="custom-select-category">
          <h4>Parent:</h4>
          <select [(ngModel)]="selectedCategory" >
            <option value="">select-drop</option>
            <option value="{{item.name}}" *ngFor="let item of getnameCategory" [value]="item.id">
              {{item.name}}
            </option>
          </select>
        </div>
      </div>
      <label for="">
        <h4>
          Discription:
        </h4>
        <input [(ngModel)]="Discriptcategory" type="text">
      </label>

      <app-buttoncreate (click)="clickManagecategory()" [topicbtn]="'Add'"></app-buttoncreate>
    </div>

    <div class="wrap-table-managetag">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="namecolum"> Name </th>
          <td mat-cell *matCellDef="let element">
            <span>
              {{element.name}}
            </span>
          </td>
        </ng-container>

        <!-- parent Column -->
        <ng-container matColumnDef="parent">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="parent"> Parent </th>
          <td mat-cell *matCellDef="let element" class="parent">
            <span>
              {{element.parent}}
            </span>
          </td>
        </ng-container>

        <!-- discription Column -->
        <ng-container matColumnDef="discription">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="parent"> Discription </th>
          <td mat-cell *matCellDef="let element" class="parent">
            <span>
              {{element.discription}}
            </span>
          </td>
        </ng-container>

        <!-- Pin id Column -->
        <ng-container matColumnDef="pinid">
          <th mat-header-cell *matHeaderCellDef class="pinid"> Pin Order </th>
          <td mat-cell *matCellDef="let element" class="pinid">
            <span>
              {{element.pinid}}
            </span>
          </td>
        </ng-container>

        <!-- edit Column -->
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef class="edit">
            <div>
              Edit
            </div>
          </th>
          <td mat-cell *matCellDef="let element;let i = index" class="edit">
            <div>
              <span class="material-icons" (click)="openDialogEdit(element,i,element.id,element.parent)">
                edit
              </span>
            </div>
            {{element.edit}}
          </td>
        </ng-container>

        <!-- delete Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef class="delete">
            <div>
              Delete
            </div>
          </th>
          <td mat-cell *matCellDef="let element; let i = index;" class="delete">
            <div>
              <span class="material-icons icondelete" (click)="openDialog(element,i,element.id)" >
                delete_outline
              </span>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[20, 30, 40]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>