// .page-side-keeplog {
//     background: $younggrey;
//     height: auto;
//     min-height: calc(100vh - #{$navbar});

//     >.manage-log-page {
//         height: auto;
//         padding: 30px;

//         >.wrap-menu-logpage {
//             height: 70px;
//             display: flex;
//             padding-right: 5px;
//             justify-content: flex-end;
//             align-items: center;
//             margin-bottom: 20px;

//             label {
//                 display: flex;
//                 color: $white;
//                 align-items: center;
//                 padding-right: 5px;
//                 color: $orange;
//                 font-weight: 200;

//                 input {
//                     width: 165px;
//                     height: 24px;
//                     border-radius: 20px;
//                     margin-right: 40px;
//                 }
//             }
//         }

//         >.wrap-table-log {
//             .push-name {
//                 width: 150px;
//                 max-width: 150px;

//                 span {
//                     display: -webkit-box;
//                     -webkit-line-clamp: 2;
//                     -webkit-box-orient: vertical;
//                     overflow: hidden;
//                 }
//             }

//             .push-action {
//                 width: 100px;
//                 max-width: 100px;

//                 span {
//                     display: -webkit-box;
//                     -webkit-line-clamp: 2;
//                     -webkit-box-orient: vertical;
//                     overflow: hidden;
//                 }
//             }

//             .push-description {
//                 width: 300;
//                 max-width: 300;

//                 span {
//                     display: -webkit-box;
//                     -webkit-line-clamp: 1;
//                     -webkit-box-orient: vertical;
//                     overflow: hidden;
//                 }
//             }

//             .push-datetime {
//                 width: 200px;
//                 max-width: 200px;

//                 span {
//                     display: -webkit-box;
//                     -webkit-line-clamp: 2;
//                     -webkit-box-orient: vertical;
//                     overflow: hidden;
//                 }
//             }

//             >.mat-table {
//                 background-color: transparent;
//                 box-shadow: unset;
//                 height: $heighttable;
//                 display: block;
//                 overflow-y: auto;
//                 border-top: 1px solid $white;
//                 border-bottom: 1px solid $white;

//                 thead {
//                     >.mat-header-row {
//                         >.mat-header-cell {
//                             border-bottom-color: $white;
//                         }

//                         >.mat-sort-header {
//                             color: $white;
//                             font-size: 15px;
//                         }
//                     }
//                 }

//                 tbody {
//                     >.mat-row {
//                         >.mat-cell {
//                             font-size: 15px;
//                             font-weight: 200;
//                             color: $white;
//                             border-bottom-color: $white;
//                             cursor: default;
//                         }
//                     }
//                 }

//                 th{
//                     padding: 0 15px;
//                 }

//                 td{
//                     padding: 0 15px;
//                 }
//             }
//         }

//         >.mat-paginator {
//             background-color: transparent;
//             color: $white;

//             .mat-form-field-infix {

//                 >.mat-select {

//                     >.mat-select-trigger {

//                         >.mat-select-value {

//                             >.mat-select-value-text {

//                                 span {
//                                     color: $white;
//                                 }

//                             }
//                         }

//                         >.mat-select-arrow-wrapper {
//                             >.mat-select-arrow {
//                                 color: $white;
//                             }
//                         }
//                     }
//                 }
//             }

//             .mat-form-field-wrapper {
//                 >.mat-form-field-underline {
//                     background-color: $white;
//                 }
//             }

//             .mat-paginator-range-actions {
//                 button {
//                     color: $white;
//                 }
//             }
//         }
//     }
// }

.page-side-keeplog {
    background: $younggrey;
    height: auto;
    min-height: calc(100vh - #{$navbar});

    >.manage-log-page {
        height: auto;
        padding: 30px;

        >.wrap-menu-logpage {
            height: $heightonheadtable;
            display: flex;
            padding-right: 5px;
            justify-content: flex-end;
            align-items: center;
            // margin-bottom: 20px;

            label {
                display: flex;
                color: $white;
                align-items: center;
                padding-right: 5px;
                color: $orange;
                font-weight: 200;

                input {
                    width: 165px;
                    height: 24px;
                    border-radius: 20px;
                    margin-right: 40px;
                }
            }
        }
    }
}