a{
    color: $white;
    text-decoration: none;
    >.wrap-content {
        width: 100%;
        height: auto;
        @include pointer;
        &:hover{
            background: rgba($white , 0.15);
        }
    
        >.top-content {
            width: 100%;
            height: 200px;
    
            .img-top-content {
                width: 100%;
                height: 100%;
                object-fit: cover;
    
            }
        }
    
        >.bottom-content {
            width: 100%;
            height: auto;
            padding: 13px;
    
            >.title-content {
                display: block;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                color: $white;
                font-size: 15px;
                font-weight: bold;
        
            }
    
            >.date-content {
                color: $gray;
                font-size: 11px;
            }
    
            >.short-content {
                display: block;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                color: $white;
                font-size: 13px;
            }
    
        }
    }
}
