$small: 479px;
$medium: 768px;
$lmedium: 899px;
$large: 1024px;
$xlarge: 1200px;
$xxlarge: 1440px;

$breakpoints: (
    small: 479px,
    medium: 767px,
    lmedium: 899px,
    large: 1024px,
    xlarge: 1200px,
    xxlarge: 1440px,
);

$black: #000000;
$orange: #FFC500;
$white: #ffffff;
$gray: #898989;
$yellow: #FDE64B;
$font-head : 20px;

@mixin pointer { 
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Standard syntax */ 
}


