.pass-side {
    display: flex;
    justify-content: center;
    align-items: center;

    >.wrap-dialog-pass {
        position: relative;
        width: calc(100% - 20px);
        height: 100%;
        padding: 20px;


        >.pass-befor {
            height: auto;
            width: 500px;

            input {
                width: 100%;
                height: 50px;
                padding: 12px 20px;
                margin: 8px 0;
                font-size: 18px;
                box-sizing: border-box;
                border: .07pt solid $black;
                color: $black;
                background: transparent;
            }

            >.beforepass {}

            >.afterpass {
                p {
                    display: none;

                    &.active {
                        display: flex;
                        color: red;
                    }
                }

                input {
                    &.active {
                        input {
                            border: 3px solid red;
                        }
                    }

                    &:active.IsActiveConfirm {
                        input {
                            border: 3px solid red;
                        }
                    }
                }
            }

            >.conpass {
                p {
                    display: none;

                    &.active {
                        display: flex;
                        color: red;
                    }
                }

                input {
                    &.active {
                        input {
                            border: 3px solid red;
                        }
                    }

                    &:active.IsActiveConfirm {
                        input {
                            border: 3px solid red;
                        }
                    }
                }
            }
        }
    }

    >.wrap-btnn-dialog-del {

        >.bbtnn {

            padding-right: 20px;

            .btnn-del1 {
                width: 80px;
                height: 40px;
                font-size: $font-size-18;
                margin-right: 20px;
            }

            .btnn-del2 {
                width: 80px;
                height: 40px;
                font-size: $font-size-18;
            }
        }
    }

    >.animesuccess {

        position: absolute;

        $bodyBg: #333;
        $strokeColor: rgb(0, 0, 0);
        //sizing
        $spinnerSize: 50px;
        $strokeWidth: 2;
        //speeds
        $spinnerSpeed: 300ms;
        $successRingSpeed: 300ms;
        $successTickSpeed: 300ms;

        body {
            background-color: $bodyBg;
        }

        .spinner-animate-to-result {
            margin: 0 auto;
            padding-top: 40px;
            width: $spinnerSize;
        }

        .spinner {
            height: $spinnerSize;
            position: absolute;
            transition: opacity $spinnerSpeed;
            width: $spinnerSize;

            &:before {
                content: '';
                height: $spinnerSize;
                position: absolute;
                width: $spinnerSize;
                animation: spinner $spinnerSpeed linear infinite;
                border: 2px solid rgba($strokeColor, 0);
                border-top-color: rgba($strokeColor, 0.9);
                border-radius: 50%;
            }

            &.--spinner-complete {
                opacity: 0;
            }
        }

        @keyframes spinner {
            to {
                transform: rotate(360deg);
            }
        }

        .success-ring {
            fill: none;
            opacity: 0;
            stroke-dasharray: 285;
            stroke-dashoffset: -257;
            stroke: $strokeColor;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-width: $strokeWidth;
            transform-origin: 50% 50%;

            &.--ring-complete {
                animation: success-ring $successRingSpeed ease-in forwards;
                opacity: 1;
            }
        }

        @keyframes success-ring {
            0% {
                stroke-dashoffset: -100;
            }

            100% {
                stroke-dashoffset: 100;
            }
        }

        .success-tick {
            fill: none;
            stroke-dasharray: 110;
            stroke-dashoffset: -110;
            stroke: $strokeColor;
            stroke-width: $strokeWidth;
            stroke-linecap: round;
            stroke-linejoin: round;

            &.--tick-complete {
                animation: tick-anim $successTickSpeed ease-in forwards;
            }
        }

        @keyframes tick-anim {
            0% {
                stroke-dashoffset: 110;
            }

            100% {
                stroke-dashoffset: 0;
            }
        }

        //     $bodyBg: #333;
        //     $spinnerSize: 200px;
        //     $strokeColor: #000000;

        //     body {
        //         background-color: $bodyBg;
        //     }

        //     .spinner-animate-to-result {
        //         margin: 0 auto;
        //         padding-top: 25px;
        //         width: $spinnerSize;
        //     }

        //     .spinner {
        //         animation-name: spinner-anim;
        //         animation-duration: 500ms;
        //         animation-timing-function: linear;
        //         animation-iteration-count: infinite;
        //         stroke-dasharray: 200;
        //         stroke-dashoffset: 200;
        //         -webkit-transform-origin: 50% 50%;
        //         -moz-transform-origin: 50px 50px;
        //         transition: opacity 300ms;
        //         fill: none;
        //         stroke: $strokeColor;
        //         stroke-width: 3;
        //         stroke-linecap: round;

        //         &.--spinner-complete {
        //             opacity: 0;
        //         }
        //     }

        //     @keyframes spinner-anim {
        //         100% {
        //             transform: rotate(360deg);
        //         }
        //     }

        //     .success-ring {
        //         stroke-dasharray: 285;
        //         stroke-dashoffset: -257;
        //         transform-origin: 50% 50%;
        //         opacity: 0;
        //         fill: none;
        //         stroke: $strokeColor;
        //         stroke-linecap: round;
        //         stroke-linejoin: round;
        //         stroke-width: 2;

        //         &.--ring-complete {
        //             animation: success-ring 200ms ease-in forwards;
        //             opacity: 1;
        //         }
        //     }

        //     @keyframes success-ring {
        //         0% {
        //             stroke-dashoffset: -100;
        //         }

        //         100% {
        //             stroke-dashoffset: 100;
        //         }
        //     }

        //     .tick {
        //         stroke-dasharray: 110;
        //         stroke-dashoffset: -110;
        //         fill: none;
        //         stroke: $strokeColor;
        //         stroke-width: 2;
        //         stroke-linecap: round;
        //         stroke-linejoin: round;

        //         &.--tick-complete {
        //             animation: tick-anim 1s ease-in forwards;
        //             stroke-width: 4;
        //         }
        //     }

        //     @keyframes tick-anim {
        //         0% {
        //             stroke-dashoffset: -110;
        //         }

        //         100% {
        //             stroke-dashoffset: 0;
        //         }
        //     }

    }
}